# Rust build artifacts
target/
Cargo.lock

# Flutter build artifacts
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/

# IDE & OS files
.idea/
*.iml
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
